*{
    background-color: rgb(247, 247, 247);
}

#map {
    height: 30%;
    position: relative;

}

.header{
    font-family: 'Catamaran', sans-serif;
    color:grey;
    padding: 0px;
    
    font-family: 'Recursive', sans-serif;
    padding: 0px;
}

#toggleFormButton,
#toggleAttractionButton,
#toggleHotelButton, 
#toggleAirBnBButton {
    float: right;
    margin-top: 0.5em;
}

select {
    float: left;
}
.subtitle{
    font-size: 25px;
}

#city-input{
    width: 80%
}
#hotel-view{
    border
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    border: solid 5px rgb(41, 224, 200);
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
}

.attractions.card.column {
    border: solid 5px rgb(41, 224, 200);
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    margin-bottom:10px;
   
    
}

.hotel-div {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(41, 224, 200);
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    margin-bottom:10px;
}


.header {
    margin-top: 50px;
   
}

#airBnB-view {
    font-family: 'Catamaran', sans-serif;
}
