
#map {
    height: 30%;
    position: relative;

}

.card-content{
    padding: 0px;
    margin: 0px;
    
}

.header{
    font-family: 'Catamaran', sans-serif;
    padding: 0px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px;
    background: url('./background.png')


}

.resultDiv{
    padding: 20px;
    
}

.hotel{
    padding: 20px;
}

#toggleFormButton,
#toggleAttractionButton,
#toggleHotelButton, 
#toggleAirbnbButton {
    float: right;
    border-radius: 25px;
}

select {
    float: left;
}
.subtitle{
    font-size: 25px;
}

#city-input{
    width: 80%
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: lightblue url('./background.png') no-repeat fixed center;
}

.hero {
    background-color: rgb(247, 247, 247);
    border-radius: px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.attractions {
    border: solid 1px rgb(41, 224, 200);
    background-color: rgb(247, 247, 247);
    border-radius: 1px;
    margin-bottom:10px;    
}


.container{
    margin-bottom: 10px;
}

.hotel-div,
.air-div {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(41, 224, 200);
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    margin-bottom:10px;
}

a{
   color: rgb(41, 224, 200);
}
.main-search{
    padding-bottom: 20px;
}

