
#map {
    height: 30%;
    position: relative;

}

.header{
    font-family: 'Recursive', sans-serif;
    padding: 0px;
}

#toggleFormButton,
#toggleAttractionButton,
#toggleHotelButton, 
#toggleAirBnBButton {
    float: right;
    margin-top: 0.5em;
}

select {
    float: left;
}
.subtitle{
    font-size: 25px;
}

#city-input{
    width: 80%
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
